body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  .skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #000;
    color: white;
    padding: 10px;
    z-index: 100;
  }
  .skip-link:focus {
    top: 10px; 
  }
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: inline-block;
    width: 80%;
    background-color: #000;
    color: white;
    padding: 10px;
  }
  nav  img {
    width: 10%;
  }
  .grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
  }
  .grid img {
    width: 100%;
  }
  .grid {
    justify-content: center; 
    align-items: start; 
    row-gap: 20px;
  }
  
 
  .flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  main {
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /*li {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 5px;
  }*/
  
  h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  